@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-nyght: 'Inter', sans-serif;
  }
  
  body {
    @apply bg-white dark:bg-black text-black dark:text-white;
  }
}

@layer components {
  .animate-gradient-x {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient-x 15s ease infinite;
  }
  
  .animate-marquee {
    animation: marquee var(--duration) linear infinite;
  }
  
  .animate-marquee[data-direction="reverse"] {
    animation-direction: reverse;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .line-clamp-7 {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  .line-clamp-10 {
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
